{
    "singleQuote": true,
    "trailingComma": "all",
    "arrowParens": "always",
    "printWidth": 100,
    "jsxBracketSameLine": true,
    "tabWidth": 4,
    "semi": true,
    "endOfLine": "lf",
    "overrides": [
        {
            "files": ["*.html"],
            "options": {
                "printWidth": 80,
                "tabWidth": 2
            }
        }
    ]
}
